.show{
    visibility: visible;
    display: block;
    /* background: grey; */
}
.hide{
    visibility:hidden;
    display: none;
}
.btns{
    width: 20vh;
    margin-bottom: 40px;
    margin-right: 5px;
    padding-right: 80px;
}
.flexSB{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
  }